<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>CometLux - Accueil</title>
</head>
<body>
    <section style="padding-top: 40px;">

        <h1 style="display: flex; justify-content: center; align-items: center; color: #fff; font-size: 36px; height: 100%;">Oups.. impossible de communiquer avec le serveur.</h1>

        <div style="display: flex; justify-content: center; align-items: center;">
            <img class="logo_img" src="../img/logo.png" alt="Logo version miniature">
        </div>

    </section>
</body>
</html>

