<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>CometLux - Scenario (VOIR)</title>
</head>
<body>
    <header class="header">
        <a href="/accueil" class="logo"><img class="logo_mid" src="../img/mid_logo.png"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/lumiere">Lumiere</a></li>
            <li><a href="/scenario">Scenario</a></li>
            <li><a href="/logs">Logs</a></li>
        </ul>
    </header>
    <section>
        <section style="display: flex; flex-direction: column;">
            <div class="scenario_infos">            
                <input class="button_scenario" type="text" id="scenario_nom" placeholder="Nom de la planification">
            </div>
            <div class="config_planification">
                <div>
                    <label for="time">Choisir l'heure d'exécution</label>
                    <input id="time" type="time" name="time" />
                </div>
                <div>
                    <label for="nb_repetitions">Nombre de répétitions</label>
                    <input id="nb_repetitions" type="number" name="nb_repetitions" value="1" min="1" max="20" />
                </div>
            </div>
            <div class="semaine_planification">
                <div>
                    <label for="1">Lundi</label>
                    <input type="checkbox" name="lundi" id="1" />
                </div>
                <div>
                    <label for="2">Mardi</label>
                    <input type="checkbox" name="mardi" id="2" />
                </div>
                <div>
                    <label for="3">Mercredi</label>
                    <input type="checkbox" name="mercredi" id="3" />
                </div>
                <div>
                    <label for="4">Jeudi</label>
                    <input type="checkbox" name="jeudi" id="4" />
                </div>
                <div>
                    <label for="5">Vendredi</label>
                    <input type="checkbox" name="vendredi" id="5" />
                </div>
                <div>
                    <label for="6">Samedi</label>
                    <input type="checkbox" name="samedi" id="6" />
                </div>
                <div>
                    <label for="7">Dimanche</label>
                    <input type="checkbox" name="dimanche" id="7" />
                </div>
            </div>
            <div class="bouton_planification">
                <a href="/scenario">Annuler</a>
                <button type="button">Créer la planification</button>
            </div>
        </section>

</body>
</html>